DWES/examen/ejercicio2/mediaMaraton.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1/examen" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://127.0.0.1/examen">
    <wsdl:types>
        <xsd:schema targetNamespace="http://127.0.0.1/examen">
            <xsd:complexType name="Runner">
                <xsd:all>
                    <xsd:element name="dni" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="nombreYApellidos" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="sexo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="tallaCamiseta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="dorsal" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="tiempo" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getTiempoRequest">
        <wsdl:part name="dni" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="getTiempoResponse">
        <wsdl:part name="getTiempoReturn" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="getMejoresRequest"/>
    <wsdl:message name="getMejoresResponse">
        <wsdl:part name="getMejoresReturn" type="tns:RunnerArray"/>
    </wsdl:message>
    <wsdl:portType name="MediaMaratonWebServicePortType">
        <wsdl:operation name="getTiempo">
            <wsdl:documentation>
                getMejores que devuelve el tiempo (en minutos) de un determinado participante
            </wsdl:documentation>
            <wsdl:input message="tns:getTiempoRequest"/>
            <wsdl:output message="tns:getTiempoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMejores">
            <wsdl:documentation>
                getMejores que devuelve un array con los 3 mejores tiempos de la carrera
            </wsdl:documentation>
            <wsdl:input message="tns:getMejoresRequest"/>
            <wsdl:output message="tns:getMejoresResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MediaMaratonWebServiceBinding" type="tns:MediaMaratonWebServicePortType">
        <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getTiempo">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://127.0.0.1/Examen/evaluacion2final/correccion_casa/ejercicio2/MediaMaratonServicio.php?method=getTiempo" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMejores">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://127.0.0.1/Examen/evaluacion2final/correccion_casa/ejercicio2/MediaMaratonServicio.php?method=getMejores" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MediaMaratonWebService">
        <wsdl:documentation>Description of MediaMaratonWebService</wsdl:documentation>
        <wsdl:port name="MediaMaratonWebServicePort" binding="tns:MediaMaratonWebServiceBinding">
            <soap-env:address location="http://127.0.0.1/Examen/evaluacion2final/correccion_casa/ejercicio2/MediaMaratonServicio.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>